form{
    background-color: aquamarine;
    display: inline-block;
    padding: 30px;
    border: 6px solid  blue;
    border-radius: 30px;
    box-shadow: cyan 0px 5px 15px;
    margin-top: 20vh;
}

label{
    display: inline-block;
    width: 10ch;
    text-align: center;
    margin-top: 3vh;
}

input[type="button"]{
    margin-top: 20px;
}
p{
    border-bottom: 3px solid black;
}
.correct{
    color: green;
}
.wrong{
    color:red;
    animation: blink 2s infinite alternate;
}

@keyframes blink {
    0%{
        opacity: 0;
    } 100%{
        opacity: 1;
        rotate: 360deg;
    }
}