body{
    background-color: lightblue;
    font-family: Arial;
    color : darkred;
    text-align: center;
}
h1{
    color : darkgreen;
    font-size: 30px;
    font-weight: 600;
}

p{
    font-size: 18px;
}
